/nbproject/private/
/build/
/MembershipORM/nbproject/private/
/MembershipORM/build/
/Pertemuan10/ifc-mvc/nbproject/private/
/Pertemuan10/ifc-mvc/build/
/Pertemuan11/Tugas/DashboardUsers/nbproject/private/
/Pertemuan11/Tugas/DashboardUsers/build/
/Pertemuan13/latihan/ifc-konkurensi/nbproject/private/
/Pertemuan13/latihan/ifc-konkurensi/build/
/Pertemuan12/Latihan/ifc-mvc/nbproject/private/
/Pertemuan12/Latihan/ifc-mvc/build/
/Pertemuan11/Latihan/ifc-mvc/build/
/Pertemuan10/Tugas/DashboardUsers/build/
/Pertemuan10/Tugas/DashboardUsers/nbproject/private/
